{% extends "blog_base.html" %}

{% block content %}
  <h1 class="font-bold text-4xl text-white mb-4">Current server uploaded images</h1>
  <section class="blog-images-list flex flex-wrap w-full">
    {% for image in images %}
    <div class="blog-image p-2 w-full sm:w-1/2 md:w-1/3">
      <a class="blog-image__link cursor-pointer" href="/media/{{ image.image}}" target="_blank">
        <img class="blog-image__image w-full h-64 object-cover" src="/media/{{ image.image }}"/>
      </a>
    </div>
    {% endfor %}
  </section>
{% endblock %}
