{% extends "portfolio_base.html" %}

{% block content %}
  <h1 class="font-bold text-4xl text-white">Projects</h1>
  <section class="portfolio-container">
    {% for project in projects %}
      <article class="portfolio-item">
        <a href="{{ project.get_absolute_url }}">
          <div class="portfolio-item__container circle-card">
            <div class="portfolio-item__image container">
              <div class="portfolio-item__image circle-card embedded"
                   style="background-image: url('/media/{{ project.thumbnail.image }}'">
                <!-- <img src="/media/{{ project.thumbnail.image }}"/> -->
              </div>
            </div>
            <div class="portfolio-item__body circle-card">
              <h3 class="title">{{ project.title }}</h3>
              <p class="description">{{ project.presentation }}</p>
            </div>
            <!-- <p class="portfolio-item__body"> -->
            <!--   subtitulo produto -->
            <!-- </p> -->
          </div>
          <ul class="portfolio-item__tags">
            {% for tag in project.tagList %}
            <!-- <li style="background-color: {{tag.color}};">{{tag.name}}</li> -->
            <li style="">{{tag.name}}</li>
            {% endfor %}
          </ul>
        </a>
      </article>
    {% endfor %}
  </section>
{% endblock %}
