{% extends "portfolio_base.html" %}

{% block content %}
  <h1 class="font-bold text-4xl text-white">{{ project.title }}</h1>
  <h3 class="italic my-0">{{ project.subtitle }}</h3>
  <div id='project-app' data-project-id='{{project.id}}'></div>
  {% comment %}
  {% for image in project.imageList %}
  <img class="project-images" style="display: none" src="/media/{{ image.image }}" alt="{{ image.title }}">
  {% endfor %}
  <!-- <h5>Description</h5> -->
  <div id="project-description" style="display: none">
    {{ project.description }}
  </div>
  <!-- <h5>Features</h5> -->
  <div id="project-features" style="display: none">
    {% autoescape off %}
      {{ project.features }}
    {% endautoescape %}
  </div>
  <!-- <h5>Future</h5> -->
  <div id="project-future" style="display: none">
    {{ project.future }}
  </div>
  {% endcomment %}
{% endblock %}

{% block footer %}
  {% include 'includes/react-footer.html' %}
  {% load static %}
  <script src="{% static 'portfolio/js/portfolio.js' %}"></script>
{% endblock %}
