.curriculum__link {
  border-color: transparent;
  cursor: pointer;
  display: block;
}

.curriculum__link:hover,
.curriculum__link:active {
  border-color: var(--palete-red);
  color: var(--palete-red);
}

.curriculum__link.active {
  border-color: var(--palete-blue);
  color: var(--palete-blue);
}
