pre { line-height: 125%; margin: 0; }
td.linenos pre { color: #000000; background-color: #f0f0f0; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #000000; background-color: #f0f0f0; padding-left: 5px; padding-right: 5px; }
td.linenos pre.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.codehilite .hll { background-color: #49483e }
.codehilite { background: #232629; color: #cccccc }
.codehilite .c { color: #777777; font-style: italic } /* Comment */
.codehilite .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.codehilite .k { color: #7686bb; font-weight: bold } /* Keyword */
.codehilite .ch { color: #777777; font-style: italic } /* Comment.Hashbang */
.codehilite .cm { color: #777777; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #777777; font-style: italic } /* Comment.Preproc */
.codehilite .cpf { color: #777777; font-style: italic } /* Comment.PreprocFile */
.codehilite .c1 { color: #777777; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #777777; font-style: italic } /* Comment.Special */
.codehilite .gp { color: #ffffff } /* Generic.Prompt */
.codehilite .kc { color: #7686bb; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #7686bb; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #7686bb; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #7686bb; font-weight: bold } /* Keyword.Pseudo */
.codehilite .kr { color: #7686bb; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #7686bb; font-weight: bold } /* Keyword.Type */
.codehilite .m { color: #4FB8CC } /* Literal.Number */
.codehilite .s { color: #51cc99 } /* Literal.String */
.codehilite .nf { color: #6a6aff } /* Name.Function */
.codehilite .nx { color: #e2828e } /* Name.Other */
.codehilite .nv { color: #7AB4DB; font-weight: bold } /* Name.Variable */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mb { color: #4FB8CC } /* Literal.Number.Bin */
.codehilite .mf { color: #4FB8CC } /* Literal.Number.Float */
.codehilite .mh { color: #4FB8CC } /* Literal.Number.Hex */
.codehilite .mi { color: #4FB8CC } /* Literal.Number.Integer */
.codehilite .mo { color: #4FB8CC } /* Literal.Number.Oct */
.codehilite .sa { color: #51cc99 } /* Literal.String.Affix */
.codehilite .sb { color: #51cc99 } /* Literal.String.Backtick */
.codehilite .sc { color: #51cc99 } /* Literal.String.Char */
.codehilite .dl { color: #51cc99 } /* Literal.String.Delimiter */
.codehilite .sd { color: #51cc99 } /* Literal.String.Doc */
.codehilite .s2 { color: #51cc99 } /* Literal.String.Double */
.codehilite .se { color: #51cc99 } /* Literal.String.Escape */
.codehilite .sh { color: #51cc99 } /* Literal.String.Heredoc */
.codehilite .si { color: #51cc99 } /* Literal.String.Interpol */
.codehilite .sx { color: #51cc99 } /* Literal.String.Other */
.codehilite .sr { color: #51cc99 } /* Literal.String.Regex */
.codehilite .s1 { color: #51cc99 } /* Literal.String.Single */
.codehilite .ss { color: #51cc99 } /* Literal.String.Symbol */
.codehilite .fm { color: #6a6aff } /* Name.Function.Magic */
.codehilite .vc { color: #7AB4DB; font-weight: bold } /* Name.Variable.Class */
.codehilite .vg { color: #BE646C; font-weight: bold } /* Name.Variable.Global */
.codehilite .vi { color: #7AB4DB; font-weight: bold } /* Name.Variable.Instance */
.codehilite .vm { color: #7AB4DB; font-weight: bold } /* Name.Variable.Magic */
.codehilite .il { color: #4FB8CC } /* Literal.Number.Integer.Long */
