<header class="flex justify-between mt-4">
  {% include 'includes/banner.html' %}
  {% include 'includes/social.html' %}
</header>
<navbar class="navbar flex border-b border-1 border-gray-700 mt-8 mb-10 py-2">
  {% include 'includes/navbar.html' %}
</navbar>
