body.dark-theme {
  background-color: rgb(26, 32, 44);
  color: rgb(203, 213, 224);
}

p {
  margin-bottom: .75rem;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: .75rem;
  margin-bottom: .75rem;
}

h5 {
  font-weight: bold;
  font-size: 1.15rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

div.codehilite {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .75rem;
    overflow-x: auto;
}

img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .75rem;
    overflow-x: auto;
}

.post-content code {
    color: gold;
    font-style: italic;
    margin: 0 .5rem; 
}

.codehilite code {
    color: inherit;
    font-style: inherit;
    margin: 0;
}

.post-content p a {
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}

.post-content p a:hover {
    color: white;
}

.post-content ul, 
.post-content ol {
    margin: 0.5rem 3rem; 
}

.post-content ol {
    list-style-type: decimal;
}

.post-content ul {
    list-style-type: circle;
}

.nav,
.social-nav {
  display: flex;
}

.nav {
  width: 100%;
}

.social-nav {
  margin-top: .5rem;
}

.nav li {
  margin-right: 2rem;
}

.social-nav li {
  margin-left: 2rem;
}

.nav a ,
.social-nav a {
  padding-right: .25rem;
  padding-left: .25rem;
  cursor: pointer;
  border-left-width: 2px;
  border-color: transparent;
}

.nav a:hover ,
.social-nav a:hover {
  border-color: #ffffff;
  color: #ffffff;
}

.footer {
    margin-top: 6rem;
}

/* 
 *
 * Tailwind breakpoints media queries 
 *
 */
/* sm -> 640px */
@media (min-width: 640px) {
  .nav {
    width: auto;
  }
  .social-nav {
    margin-top: 0px;
  }
}

/* md -> 768px */
@media (min-width: 768px) {  }

/* lg -> 1024px	*/
@media (min-width: 1024px) { }

/* xl -> 1280px	*/
@media (min-width: 1280px) { }

/* 2xl -> 1536px */	
@media (min-width: 1536px) { }
