<!-- <h5 class="font-bold text-2xl mt-16 mb-4 italic border-b border-1 border-gray-700">All Posts</h5> -->
<!-- {% for post in instance.posts %} -->
<!-- <article class="w-full my-6"> -->
<!--     <h3 class="text-xl font-bold"><a class="hover:text-white hover:underline"href="{{ instance.post.get_absolute_url }}">{{ instance.post.title }}</a></h3> -->
<!--     <!-1- <p class="is-size-6">{{ instance.post.contentHTML|slice:":100"|safe }}</p> -1-> -->
<!--     <span class="text-lg italic mt-1 block">{{ instance.post.created_at }} - --> 
<!--         {% for tag in instance.post.tags %} -->
<!--         <a class="hover:text-white hover:underline" href="{{ instance.tag.get_absolute_url }}">{{instance.tag.name}}</a>{% if not forloop.last %}, {% endif %} -->
<!--         {% endfor %} -->
<!--     </span> -->
<!-- </article> -->
<!-- {% endfor %} -->
Hello
