:root {
  --portfolio-card-radius: 10px;
  --portfolio-rounded-card-height: 460px;
  --portfolio-rounded-card-width: 150px;
  --portfolio-rounded-card-height-padding: 190px;
  --portfolio-rounded-card-padding: 20px;
  --slideshow-controls-bg: rgba(255, 255, 255, 0.2);
}

.portfolio-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0; 
}

.portfolio-item {
  width: 100%;
  padding: 0.5rem; /* p-1 */
  position: relative;
}

.portfolio-item__container {
  display: flex;
  flex-direction: column;
  height: 250px;
  position: relative;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(0, 0, 0, 0.8) 0px 7px 29px 0px;
}

.portfolio-item__title {
  height: 15%;
  margin: 0;
  background-color: var(--original-card-blue);  
  color: #ccc;
  /*width: 100%;*/
  padding: 0.25rem 0.8rem;
      border-radius: 0 0 var(--portfolio-card-radius) var(--portfolio-card-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-item__image {
  position: relative;
  height: 85%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var(--portfolio-card-radius) var(--portfolio-card-radius) 0 0;
}


.portfolio-item__tags {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
  bottom: 20px;
  right: 0;
  text-align: right;
  position: absolute;
}

.portfolio-item__tags li {
  margin: .65rem 0;
  border-radius: 4px;
  /* padding: 0 .75rem; */
  font-size: .85rem;
  line-height: 1.5;
  color: white;
  font-weight: bold;
  /* background-color: rgb(26, 32, 44); */
  background-color: blue;
  color: blue;
  width: 20px;
  overflow: hidden;
}

.portfolio-item__image.container {
  width: 100%;
  height: var(--portfolio-rounded-card-height-padding);
  padding: var(--portfolio-rounded-card-padding);
}

.portfolio-item__image.circle-card {
  width: var(--portfolio-rounded-card-width);
  height: 100%;
  overflow: hidden;
  margin: auto;
  border-radius: 50%;
}

.portfolio-item__image.circle-card.embedded {
  width: var(--portfolio-rounded-card-width);
  height: var(--portfolio-rounded-card-width);
}

.portfolio-item__container.circle-card {
  height: var(--portfolio-rounded-card-height);
  border-radius: var(--portfolio-card-radius);
  background-color: var(--original-card-blue);
}

.portfolio-item__container.circle-card:hover, 
.portfolio-item__container.circle-card:active {
  background-color: var(--original-bg-blue);
}

.portfolio-item__body.circle-card {
  margin: 0;
  color: #ccc;
  padding: 0.25rem 0.8rem;
  align-items: center;
  background-color: transparent;
  border-top: 2px solid #ccc;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  overflow: hidden;
  text-align: center;
}


.portfolio-item__body.circle-card .title {
}

.portfolio-item__body.circle-card .description {
  overflow: hidden;
}

.portfolio-item__image.circle-card img {
  width: auto;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  max-width: none !important;
}

.project-data__slideshow {
  margin: 1rem 0;
  margin-bottom: 2rem;
  /* height: 450px; */
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  /* background-color: var(--original-card-blue); */
}

.project-data__slideshow-image {
  width: 100%;
  height: 90%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  cursor: pointer;
}

.project-data__slideshow .slideshow__image {
  /* width: 100%; */
  border: var(--palete-blue) 1px solid;
  border-radius: 10px;
  padding: 0 !important;
  cursor: pointer;
  max-width: 100%;
  max-height: 70vh;
  margin-left: auto;
  margin-right: auto;
}

.project-data__slideshow-left,
.project-data__slideshow-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-data__slideshow-left,
.project-data__slideshow-right {
  /* opacity: 0; */
  background-color: var(--slideshow-controls-bg);
  height: 100%;
  width: 30px;
  color: black;
  display: none;
}

.project-data__slideshow-left {
  left: 0;
}

.project-data__slideshow-right {
  right: 0;
}

.project-data__slideshow:hover .project-data__slideshow-left,
.project-data__slideshow:hover .project-data__slideshow-right {
  opacity: 1;
}

.project-data__slideshow-dots {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 0;
  border: var(--palete-light-white) 2px solid;
  border-radius: 9999px;
  cursor: pointer;
  background-color: transparent;
  margin: 0 1rem;
}

.dot.active {
  background-color: var(--palete-light-white);
  border: var(--palete-light-white) 0 none;
}

.dot:hover,
.dot:active {
  /* border: var(--palete-red) 2px solid; */
  border: var(--palete-red) 0 none;
  background-color: var(--palete-red);
}

.project-data__slideshow-dots .dots-container {
  /* background-color: var(--slideshow-controls-bg); */
  padding: 0 1rem;
}

.project-data {
  background-color: var(--original-card-blue);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  min-height: 100vh;
}

.project-data__tab {
  display: flex;
  margin: 1.5rem 0;
}

.project-data__tab-item {
  width: 33.33333%;
  text-align: center;
  padding: .5rem 0;
  border-bottom: #ccc solid 1px;
  cursor: pointer;
}

.project-data__tab-item.selected {
  /* border-bottom-color: green; */
  border-bottom-color: var(--palete-blue);
  color: var(--palete-blue);
  /* color: green; */
}

.project-data__tab-item:hover,
.project-data__tab-item:active {
  /* border-bottom-color: var(--original-bg-blue); */
  border-bottom-color: var(--palete-red);
  color: inherit;
}

.project-data__body {
  margin-bottom: 1rem;
  line-height: 1.625rem;
  text-align: justify;
}

/* The Modal (background) */
.project-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  display: flex;
}

/* Modal Content/Box */
.project-modal__content {
  /* background-color: var(--original-bg-blue); */
  margin: auto; /* 15% from the top and centered */
  /* padding: 20px; */
  /* border: 1px solid var(--original-card-blue); */
  width: 95%; /* Could be more or less, depending on screen size */
  height: 95%;
  border-radius: 10px;
  overflow: hidden;
}

.project-modal__header {
  display: flex;
  color: var(--palete-light-white);
  position: relative;
  height: 5%;
  align-items: center;
}

.project-modal__footer {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The Close Button */
.project-modal__close {
  /* float: right; */
  font-size: 28px;
  font-weight: bold;
  align-self: center;
  position: absolute;
  right: 20px;
}

.project-modal__close:hover,
.project-modal__close:focus {
  color: var(--palete-red);
  text-decoration: none;
  cursor: pointer;
}

.project-modal__body {
  color: var(--palete-light-white);
  height: 90%;
  padding: 0rem 0;
  display: flex;
}

.project-modal__body .project-modal__image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.project-modal__slideshow-left,
.project-modal__slideshow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30px;
  color: var(--palete-light-white);
  font-size: 2rem;
}

.project-modal__slideshow-left:hover,
.project-modal__slideshow-right:hover {
  color: var(--palete-red);
}

/* sm	640px	*/
@media (min-width: 640px) {
  .portfolio-item {
    width: 50%;
  }
  .project-data__slideshow-left,
  .project-data__slideshow-right {
    opacity: 0;
  }
}

/* md	768px */	
@media (min-width: 768px) {}

/* lg	1024px */	
@media (min-width: 1024px) {
  .portfolio-item {
    width: 33%;
  }
}

/* xl	1280px */	
@media (min-width: 1280px) {
  .portfolio-item {
    width: 25%;
  }
}

/* 2xl	1536px */	
@media (min-width: 1536px) {}
