:root {
  --palete-blue: #457b9d;
  --palete-light-blue: #a8dadc;
  --palete-light-white: #f1faee;
  --palete-red: #e63946;
  --original-bg-blue: #1a202c;
  --original-card-blue: #262f40; 
  --original-card-blue2: #2f3a50;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body.dark-theme {
  background-color: rgb(26, 32, 44);
  color: rgb(203, 213, 224);
}

p {
  margin-bottom: .75rem;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: .75rem;
  margin-bottom: .75rem;
}

h5 {
  font-weight: bold;
  font-size: 1.15rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .75rem;
    overflow-x: auto;
}

p a {
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}

p a:hover {
    color: white;
}

.nav__link {
/* hover:text-white px-1 border-l-2 border-transparent hover:border-white cursor-pointer */
  border-color: transparent;
  cursor: pointer;
  border-left-width: 2px;
  padding: 0 0.25rem;
}

.nav__link:hover,
.nav__link:active {
  border-color: var(--palete-red);
  color: var(--palete-red);
}

.nav__link.active {
  /* border-color: white; */
  /* color: white; */
  border-color: var(--palete-blue);
  color: var(--palete-blue);
}

.common__link {
  font-style: italic;
}

.common__link:hover {
  color: var(--palete-red);
}

.footer {
    margin-top: 6rem;
}

