<!DOCTYPE html>
{% load cms_tags sekizai_tags %}
<html lang="en">
    <head>
        <title>{% page_attribute "page_title" %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
        <!-- <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script> -->
        <!-- Add additional CSS in static file -->
        {% load static %}
        {% block head_styles %}
        {% endblock head_styles %}
        {% render_block "css" %}
    </head>
    <body class="dark-theme container mx-auto px-4">
        {% cms_toolbar %}
        <header class="text-2xl sm:text-3xl md:text-5xl font-bold mt-4 italic">
            <a class="cursor-pointer flex" href="/">
                <span class="leading-none mr-8">Luís<br>Pereira</span><span class="my-auto">(easilok)</span>
            </a>
        </header>
        <navbar class="navbar flex border-b border-1 border-gray-700 mt-8 mb-10 py-2">
        {% load menu_tags %}
        {% block navbar %}
        <div class="navbar-links w-full flex flex-wrap justify-between">
            <ul class="nav">
                {% show_menu 0 100 100 100 %}
            </ul>
            <ul class="social-nav">
                <li class=""><a class="" href="https://gitlab.com/easilok" target="_blank">GitLab</a></li>
                <li class=""><a class="" href="https://linkedin.com/in/pereiracvluis/" target="_blank">Linkedin</a></li>
                <li class=""><a class="" href="https://instagram.com/easilok" target="_blank">Instagram</a></li>
            </ul>
        </div>
        {% endblock %}
        </navbar>
        <main class="">
            <div class="w-full">
                {% block content %}
                    {% placeholder "content" %}
                {% endblock content %}
                {% block pagination %}
                {% if is_paginated %}
                <div class="pagination w-full text-center my-4">
                    <span class="page-links text-lg">
                        {% if page_obj.has_previous %}
                        <a class="hover:text-white hover:underline"
                           href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                            previous</a>
                        {% endif %}
                        <span class="page-current mx-2">
                            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                        </span>
                        {% if page_obj.has_next %}
                        <a class="hover:text-white hover:underline"
                           href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                            next</a>
                        {% endif %}
                    </span>
                </div>
                {% endif %}
                {% endblock %}
            </div>
            <aside class="">
                {% block sidebar %}
                    {% placeholder "sidebar" %}
                {% endblock %}
            </aside>
        </main>
        <footer>
            {% static_placeholder 'footer' %}
        </footer>
        <!-- {% block footer_js %} -->
        <!-- {% endblock footer_js %} -->
        {% render_block "js" %}
    </body>
</html>
