{% extends 'base.html' %}

{% load static %}
{% block head_styles %}
<link rel="stylesheet" href="{% static 'tailwind.min.css' %}">
<!-- <link rel="stylesheet" href="{% static 'blog/css/codehilite-solarized-dark.css' %}"> -->
<link rel="stylesheet" href="{% static 'blog/css/codehilite-stata-dark.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
{% endblock %}

{% block content %}
    {% block blog_content %}
    {% endblock %}
{% endblock %}
