{% extends "homepage_base.html" %}

{% block content %}
  <h1 class="font-bold text-4xl text-white">Welcome to my homepage!</h1>
  <article class="home-content w-full my-6">
    <p>So I'm an Electrotechnical Engineer, working with embedded systems with 
    some software in the mix. I also worked on industrial automation, and 
    electric panel project. But I'm passionate with learning new things, 
    software, hardware and SO based. So I have personal projects with web 
    development, Linux, sysadmin, home automation, etc. You can find some 
    detailed information of my projects by area a little below. I also have 
    the dream of get involved on open source and community driven projects, 
    but I'm still find the right door to open. </p>
    <p>And because all of this, I'm constantly reading things like guides,
    manuals, tutorials, articles, forum questions, and others, from subjects 
    that I'm working on but also of things that I have in the pipeline to 
    tinker, and then I forgot the these things and lost track of them. 
    And the time I take to learn and try things, if I need to focus on 
    something else for some time, is forbidden and I need to redo everything 
    again when coming back. I try different methods to save this knowledge, 
    but keep failing in all, so I finally made a decision to make a blog. 
    It will be mainly for saving my thoughts on something, my steps to 
    archive some purpose, and to save some possible information on something 
    I read (with sources indicated), and if somewhere in time someone finds 
    it and help them solve a problem, then that's profit. 😊</p>
    <h3>Some details on my projects</h3>
    <p>On the web development side I have tinkered with PHP (using Laravel), 
    python (with Django, like this site) on the backend, and JavaScript 
    (vanilla and with Vue for some complex pages). Apart from the use of 
    frameworks, o try to make things by myself from scratch, not using much 
    external packages, focusing only the ones that are mandatory.</p>
    <p>On the Linux I use arch with Xmonad, really to force understanding 
    the inner cogs of this fantastic SO, and personalize it to my needs and 
    workflow.</p>
    <p>On the sysadmin side, it appeared with my interest for the Linux, 
    and escalated with a need in my workplace for managing the system, 
    which is totally homemade. I'm at the beginning of studying this area, 
    but I'm really motivated to dig deep in this rabbit hole.</p>
    <p>Home automation is an idea I have for many years, powered by my 
    engineer laziness, which means that I want to automate everything. 
    But as my DIY vein is always very pulsing, I want to have everything 
    made by me, and only indoors. So I have some WiFi Light switches from 
    sonoff, power measuring, plants humidity measurement, house temperature 
    and humidity measurement, etc.</p>
  </article>
{% endblock %}
